<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/apps/" title="My applications, frameworks and projects.">My Apps</a></li>
  <li><a href="{{ root_url }}/blog/archives/">Archive</a></li>
  <li><a href="{{ root_url }}/blog/category/general/" title="General posts that don't fit under any other category.">General</a></li>
  <li><a href="{{ root_url }}/blog/category/gadgets/" title="Posts about my three hobby passions: cars, models and gadgets.">Gadgets</a></li>
  <li><a href="{{ root_url }}/blog/category/a-nerd-outdoors/" title="Tackling the great outdoors with technology.">A Nerd Outdoors</a></li>
  <li><a href="{{ root_url }}/blog/category/programming-work/" title="Posts on my favourite nerdy activity - programming. Note: probably contains less code than you'd think.">Programming &amp; Work</a></li>
  <li><a href="{{ root_url }}/blog/category/sweden/" title="A journal on my move from the UK to Sweden.">Sweden</a></li>
</ul>
